#target_begin
#target_name=
#target_size=
#target_filename=
#
#seg_begin
#seg_name=
#seg_offset=
#seg_filename=
#seg_size=
#seg_valid=
#seg_end
#
#target_end

target_begin
target_name=test_build_file
target_size=1927
target_filename=helloworld.bin

seg_begin
seg_name=a
seg_offset=1734
seg_filename=config.ini
seg_end

seg_begin
seg_name=b
seg_offset=0x0
seg_filename=replace_block.c
seg_end

target_end

target_begin
target_name=test_build_file2
target_size=1927
target_filename=helloworld2.bin

seg_begin
seg_name=a
seg_offset=1734
seg_filename=config.ini
seg_end

seg_begin
seg_name=b
seg_offset=0x0
seg_filename=replace_block.c
seg_end

target_end
